<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href='http://arushi-08.github.io/cv/cv.pdf'>http://arushi-08.github.io/cv/cv.pdf</a></li>
<li><a href="/blog">Blog</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   <li><a href="mailto:arushi.net@outlook.com">email</a></li>
   <li><a href="https://github.com/arushi-08">github.com/arushi-08</a></li>
   </ul>
  </footer>
  </body>

</html>
